body {
    background-color: #202020;
    justify-content: center;
}
h1 {
    color: #ff0606;
}
.mark {
    padding: 150px;
    background-color: #6b6b6b;
    width: 50%;
    margin-top: 50px;
    margin: 0 auto; 
    text-align: center;
    border-radius: 50px;
}

.footer {
    background-color: #999999;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav {
    background-color: #999999;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;

}
.navegadorxd a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.navegadorxd a:hover {
    background-color: #ddd;
    color: black;
}

.caja {
    background-color: #eeeeee;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    color: #000000;
}