.Caja1 {
    background-color: blue;
    width: 600px;
    height: 1000px;
    border: 2px solid blue;
    margin-top: 20px;
    
}
.Caja2 {
    background-color: rgb(0, 255, 98);
    width: 600px;
    height: 1000px;
    border: 2px solid red;
    margin-top: 20px;
}
.contenedor {
    display: flex;
    justify-content: center;
}
.titulo {
    background-color: yellow;
    height: 200px;
    width: 1320px;
    border: 5px solid red;
    border-radius: 50px;
    text-align: center;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    color: purple;
    padding-top: 40px;
}
.img {
    margin-top: 10px;
}

p {
    color: white;
    font-size: 24px;
    text-align: center;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;      

}

.caja3, .caja4, .caja5, .caja6, .caja7, .caja8 {
    background-color: orange;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.cajamadre {
    background-color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cajahija1 {
    background-color: green;
    width: 100px;
    height: 100px;
    border: solid black;
}

.cajahija2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.cajahija3 {
    background-color: orange;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.cajahija4 {
    background-color: rgb(110, 66, 0);
    width: 100px;
    height: 100px;
    border: 2px solid black;
}