.Caja1 {
    background-color: black;
    width: 600px;
    height: 1000px;
    border: 2px solid blue;
    margin-top: 20px;
    
}
.Caja2 {
    background-color: aqua;
    width: 600px;
    height: 1000px;
    border: 2px solid red;
    margin-top: 20px;
}
.contenedor {
    display: flex;
    justify-content: center;
}
.titulo {
    background-color: yellow;
    height: 200px;
    width: 1320px;
    border: 5px solid red;
    border-radius: 50px;
    text-align: center;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    color: purple;
    padding-top: 40px;
}
.img {
    margin-top: 10px;
}