.caja1 {
    background-color: #01375c;
    width: 100px;
    padding: 50px;
    border-radius: 15px;
    border: 5px yellow dotted;
    border-top: 3px red dotted;
    border-left: 3px green solid;
    border-right: 3px blue solid;
}

.caja2 {
    background-color: #01375c;
    width: 100px;
    padding: 50px;
    border-radius: 15px;
    border: 5px yellow dotted;
    border-top: 3px red dotted;
    border-left: 3px green solid;
    border-right: 3px blue solid;
}

.caja3 {
    background-color: #01375c;
    width: 100px;
    padding: 50px;
    border-radius: 15px;
    border: 5px yellow dotted;
    border-top: 3px red dotted;
    border-left: 3px green solid;
    border-right: 3px blue solid;
}

.caja4 {
    background-color: #01375c;
    width: 100px;
    padding: 50px;
    border-radius: 15px;
    border: 5px yellow dotted;
    border-top: 3px red dotted;
    border-left: 3px green solid;
    border-right: 3px blue solid;
}

.caja5 {
    background-color: #01375c;
    width: 100px;
    padding: 50px;
    border-radius: 15px;
    border: 5px yellow dotted;
    border-top: 3px red dotted;
    border-left: 3px green solid;
    border-right: 3px blue solid;
}